body{
	background-color: #9B805A;
	font-family: "Century Gothic";
}

#main{
	padding: 20px;
	width: 400px;
	background-color: #fff;
	margin-left: 450px;
	margin-right: 450px;
	margin-top: 200px;
}
#loginheader{
	background-color: #1E1713;
	color: white;
	margin-top: -40px;
	margin-left: -20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 420px;
	text-align: center;
}
label{
	font-size: 18px;
}

input{
	font-family: "Century Gothic";
}

#txtUsername,#txtPassword{
	width: 270px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
	font-size: 12px;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #A08675;
}

#remembermecheckbox{
	margin-top: 20px;
	width: 50px;
	margin-left: 33px
}
#lblrememberme{
	font-size: 12px;
}
#btnlogin{
	margin-top: 20px;
	margin-left: 50px;
	width: 290px;
	height: 40px;
	cursor: pointer;
	background-color: #1E1713;
	border: none;
	border-radius: 5px;
	color: #fff;
}
#btnlogin:hover{
	background-color: transparent;
	border: 2px solid #1E1713;
	color: #1E1713;
}