#main{
	min-height: 100px;
	padding: 20px;
	width: 400px;
	background-color: rgba(69,69,69,0.7);
	margin-left: 450px;
	margin-top: 200px;
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 20px #9ecaed;
}
#loginheader{
	background-color: rgb(69,69,69);
	color: white;
	margin-top: -40px;
	margin-left: -20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 420px;
	text-align: center;
}
label{
	font-family: "Segoe UI", "Roboto", "Oxygen";
	font-size: 18px;
	color: white;
}
#txtUsername,#txtPassword{
	width: 270px;
	font-family: "Segoe UI", "Roboto", "Oxygen";
	margin-left: 50px;
	margin-top: 10px;
	font-size: 18px;
	padding: 5px;
	border: rgba(69,69,69,0.7) 0px solid;
	border-bottom: 1px solid #9ecaed;
	background-color: rgba(69,69,69,0);
	color: white;
}
#txtUsername,#txtPassword:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 20px #9ecaed;
}
#remembermecheckbox{
	margin-top: 20px;
	width: 50px;
	margin-left: 33px
}
#lblrememberme{
	margin-top: 20px;
	font-size: 14px;
}
#btnlogin{
	margin-top: 20px;
	margin-left: 50px;
	width: 290px;
	height: 40px;
	cursor: pointer;
	background-color: rgb(69,69,69);
	font-family: "Segoe UI", "Roboto", "Oxygen";
	color: white;
	border: inset 1px black;
}
#btnlogin:hover{
	background-color: rgba(69,69,69,0.5);
	box-shadow: 0 0 20px #9ecaed;
}